html {
      background-color: #b9d5fa;
}


@font-face {
      font-family: LemonMilk;
      src: url("fonts/LEMONMILK-Bold.otf");
}
      
@font-face {
      font-family: CaviarDreams;
      src: url("fonts/CaviarDreams.ttf");
}

h2 {
      font-family: CaviarDreams
}

p {
      font-family: CaviarDreams
}
      
a {
      font-family: CaviarDreams
}

button {
      font-family: CaviarDreams
}


.container {
  height: 200px;
  position: relative;
  border: 3px solid blue;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -500%);
  transform: translate(-50%, -50%);
  text-align:center
}