<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/game_style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SignQuest</title>
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
        body { text-align: center; background-color: #b100ff; } 
        img { border: 1px solid #740ca2; }
    </style>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/game_style.css') }}">

    <body>
        <button id="runScriptButton">Start Game</button>
        <pre id="output"></pre>
        <script>
            document.getElementById('runScriptButton').addEventListener('click', () => {
                fetch('/run_script', { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.output) {
                            document.getElementById('output').textContent = data.output;
                        } else if (data.error) {
                            document.getElementById('output').textContent = 'Error: ' + data.error;
                        }
                    })
                    .catch(error => {
                        document.getElementById('output').textContent = 'Fetch error: ' + error;
                    });
            });
        </script>
    </body>

</head>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/timer.css') }}">
    <body>
        <div class="timer" id="timer">60</div>
        <div class="round-over" id="roundOver">Round Over!</div>
        <script src="{{url_for('static', filename='timer.js')}}"></script>
    </body>
</head>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/button.css') }}">
    <body>
        <header class="container" style="padding:64px 16px">
            <button onclick="window.location.href='/scores'" class="hover-button">Scores</button>
        </header>
    </body>
</head>
</html>
